<div class="headLine">wellcom to our library!!</div>
<hr/>
<a class='router' id='firstRouter'routerLink='about' routerLinkActive='active'>About us | </a>
<a class='router' routerLink='B_list' routerLinkActive='active'>The list of the books in the library | </a>
<a class='router' routerLink='B_borrower' routerLinkActive='active'>The borrowers | </a>
<a class='router' routerLink='addings' routerLinkActive='active'>Aaddings</a>
<hr/>
<router-outlet></router-outlet>
<!-- <a routerLink='B_detailes'>to the detailes of the books, click here</a><br> -->
<!-- <a routerLink='B_category'>to the category of the library, click here</a><br>
<a routerLink='B_lendings'>to the list of the lendings books, click here</a> -->
<!-- <app-category></app-category> -->
